{{ ansible_managed | comment }}
# OpenSIPS systemd service file

[Unit]
Description=OpenSIPS SIP Proxy
Documentation=https://www.opensips.org/Documentation/
After=network.target postgresql.service redis.service
Wants=network.target

[Service]
Type=forking
Environment="PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
PIDFile={{ opensips_run_dir }}/opensips.pid
ExecStartPre=/usr/local/sbin/opensips -c -f {{ opensips_config_dir }}/opensips.cfg
ExecStart=/usr/local/sbin/opensips -f {{ opensips_config_dir }}/opensips.cfg -P {{ opensips_run_dir }}/opensips.pid
ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/bin/kill -SIGTERM $MAINPID

# Process settings
LimitNOFILE=65536
LimitNPROC=16384
LimitCORE=infinity

# Security
User={{ opensips_user }}
Group={{ opensips_group }}
RuntimeDirectory=opensips
RuntimeDirectoryMode=0755

# Restart policy
Restart=on-failure
RestartSec=5
TimeoutStartSec=30
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
