# Ansible inventory for vagrant-qemu VMs
# This inventory is used when provisioning via 'vagrant provision'
# or when running Ansible directly against Vagrant VMs
#
# Usage:
#   vagrant provision
#   # or
#   ansible-playbook -i inventory/vagrant.yml playbooks/provision-vms.yml

all:
  vars:
    ansible_user: vagrant
    ansible_ssh_private_key_file: "{{ lookup('env', 'HOME') }}/.vagrant.d/insecure_private_key"
    ansible_python_interpreter: /usr/bin/python3

    # DevStack Core integration
    devstack_host: 192.168.64.1
    vault_addr: "http://{{ devstack_host }}:8200"
    postgres_host: "{{ devstack_host }}"
    redis_host: "{{ devstack_host }}"
    rabbitmq_host: "{{ devstack_host }}"

    # Domain configuration
    domain: sip.local
    internal_gateway: 192.168.64.1

  children:
    voip:
      children:
        sip_proxies:
          hosts:
            sip-1:
              ansible_host: 192.168.64.10
              internal_ip: 192.168.64.10
              has_external_interface: true
              opensips_enabled: true
              kamailio_enabled: false

        media_servers:
          hosts:
            media-1:
              ansible_host: 192.168.64.20
              internal_ip: 192.168.64.20
              has_external_interface: true
              rtpengine_enabled: true

        pbx:
          hosts:
            pbx-1:
              ansible_host: 192.168.64.30
              internal_ip: 192.168.64.30
              has_external_interface: false
              asterisk_enabled: true
              freeswitch_enabled: false
