---
# RTPEngine Configuration Tasks
# {{ ansible_managed }}

- name: Deploy RTPEngine configuration
  ansible.builtin.template:
    src: rtpengine.conf.j2
    dest: "{{ rtpengine_config_dir }}/rtpengine.conf"
    owner: root
    group: "{{ rtpengine_group }}"
    mode: '0640'
  become: true
  notify: Restart rtpengine
  tags: [rtpengine, config]

- name: Deploy systemd service override
  ansible.builtin.template:
    src: rtpengine.service.j2
    dest: /etc/systemd/system/rtpengine.service
    owner: root
    group: root
    mode: '0644'
  become: true
  notify:
    - Reload systemd
    - Restart rtpengine
  tags: [rtpengine, config, service]

- name: Deploy rtpengine-ctl wrapper script
  ansible.builtin.template:
    src: rtpengine-ctl.sh.j2
    dest: /usr/local/bin/rtpengine-ctl
    owner: root
    group: root
    mode: '0755'
  become: true
  tags: [rtpengine, config]
